/client/node_modules
/server/node_modules


/server/.env

Roaming the world, I unveil hidden wonders with delight,Guiding wanderers with knowledge and stories in my sight.

I unveil hidden wonders with delight,Guiding wanderers with knowledge and stories in my sight.

Experienced guide with a wealth of local knowledge, ready to unveil the secrets of every destination.

Enthusiastic storyteller and explorer, leading you on a journey of discovery and cultural immersion.

