/* body{
    overflow-x: hidden;
} */
.user-main .package-details-main{
    width:95%;
    height:600px;
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
    box-shadow: 0px 0px 1px 1px rgba(71, 71, 71, 0.581);
}

.package-details-main .package-img{
    height:90%;
    width:50%;
    margin-left:20px;
}

.package-img img{
    height:100%;
    width:100%;
    margin-bottom:20px;
    border-radius:1%;

}

.btnn{
    margin-bottom:20px;
}
.btnn button{
    background-color: #147E7D;
    width:50%;
    margin-top:20px;
    height:40px;
    border: none;
}

.btnn button:hover{
    border: none;
}

.package-details .price{
    display: flex;
    align-items: center;
    margin-bottom:5px;
    margin-top:5px;
}

.package-details-main .package-details{
    height:90%;
    width:50%;
    margin-left:30px;
    padding-left:30px;
    padding:10px;
}
.package-details .dropdown{
    background-color: #147E7D;
    border-radius:5px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    color:#ffff;
    padding-left:5px;
}
.package-details .date{
    background-color: #147E7D;
    border-radius:5px;
    width:50%;
    height:30px;
    border: none;
    top: 0;
    padding-left:10px;
    padding-right:10px;
}
.package-details p{
    margin-bottom:0 !important;
}

.package-details a{
    color: #000000cb;
}

.package-details a:hover {
    color:#000000cb;
  }

  .package-details .guides-card{
    cursor: pointer;
    display: flex;
    flex-direction:row;
    margin-bottom:40px;
    width:400px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(71, 71, 71, 0.581);
}

.guides-card .guide-profile{
    height:100px;
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.guides-card .guide-details{
    height:100%;
    width:300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:end;
}

.guide-profile .guide-image{
    height:90%;
    width:55%;
    border-radius:100%;
}
.guide-profile .guide-image img{
    height:100%;
    width:100%;
    border-radius:100%;
}

.date::placeholder {
    color: white;
  }