body{
    overflow-x: hidden;
}
.user-main .user-banner img{
    width:100vw;
    height:650px;
}
.user-main .packages{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:400px;
    margin-top:20px;
    background-color: rgb(255, 255, 255);
}

.user-main .packages .packages-body{
    width:90%;
    height:350px;
    display: flex;
    box-shadow:20px;
    box-shadow: 3px 3px 41px 34px rgba(99, 99, 99, 0.1);
    border-radius: 8px;
}
.user-main .packages .packages-body .packages-text-body{
    height:350px;
    width:400px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left:40px;
}
.user-main .packages .packages-body .packages-details{
    height:350px;
    width:950px;
    display: flex;
    padding:20px;
    justify-content: center;
    padding-left:10px;
}
.packages-text-body button{
    border-radius:50px;
    background-color:#147E7D;
}
.packages-text-body .textes h2{
    color:#147E7D;
}
.packages-details .card{
    height:300px;
    margin-top:10px;
    margin-bottom:10px;
}
.user-main .footer {
    padding: 20px;
    text-align: center;
  }
  
  .footer-links a {
    margin-right: 10px;
    text-decoration: none;
  }
  .travel-quotes {
    margin-top: 20px;
  }
  
  .travel-quotes p {
    font-style: italic;
    margin-bottom: 15px;
  }

  .user-main .line-body{
    width:100%;
    height:50px;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line{
    width:90%;
  }

  .user-main .dummy{
    height:300px;
    width:100%;
    background-color: #147E7D;
  }
  