.navbar {
  background-color: #ffffff; 
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: #ff0000; 
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #555;
}

.navbar-collapse {
  justify-content: flex-end;
}

.btn-logout {
  background-color: #007bff; /* Set your desired button color */
  color: #fff; /* Set your desired text color */
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #0056b3; /* Set your desired button color on hover */
}