/* body{
    overflow-x: auto !important;
} */
.user-main .packages-main{
    width:100%;
    margin-left:100px;
    margin-right:100px;
}
.packages-main .packages-head{
    display: flex;
    align-items:center;
    padding-top:10px;
    margin-top:20px;
    width:90%;
}

.packages-main .pkgs-body{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:50px;
}

.pkgs-body col{
    margin-left:80px;
    margin-bottom:40px;
}

.pkgs-body .pkg-details:hover{
    background-color: rgba(0, 0, 0, 0.074);
}

.pkgs-body .pkg-details{
    cursor: pointer;
    display: flex;
    flex-direction:row;
    margin-bottom:50px;
    height:180px;
    width:650px;
    overflow:auto;

    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px 0px 1px 1px rgba(71, 71, 71, 0.581); */


}
.pkg-details .pkg-image{
    height:100%;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pkg-image img{
    height:90%;
    width:80%;
}
.pkg-details .pkg-textes{
    height:100%;
    width:300px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.pkg-textes p{
    margin-bottom:0 !important;
}

.pkgs-body a{
    color: #000000 !important;
    width:50%;
    height:180px;
    margin-bottom:40px;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.packages-head .searchbar .MuiInputBase-root{
    height:40px;
    margin-bottom:10px;
    width:300px;
}

.packages-head .searchbar{
    height:40px;
    margin-bottom:10px;
    margin-left:50%;
}

.packages-head .sort{
    margin-bottom:18px;
    width:200px;
    margin-left:50px;
}

@media (max-width: 800px) {

    .packages-head h3 {
        display: none;
    }

    .packages-head {
        padding-left:0 !important;
        width:100vw !important;
        justify-content: center;
        padding-top:0 !important;
    }

    .user-main .packages-main {
        height: fit-content;
        width: 100%;
        margin-left:0 !important;
        margin-right:0 !important;
    }

    .packages-head .searchbar {
        margin-left:10px !important;
    }

    .packages-head .searchbar .MuiInputBase-root{
        height:40px;
        margin-bottom:10px;
        width:200px;
    }

    .packages-head .sort{
        margin-bottom:18px;
        width:100px;
        margin-left:20px;
    }

    .pkgs-body a{
        width:100vw;
        height:fit-content;
        margin-bottom:-30px ;
    }

    .packages-main .pkgs-body{
        justify-content: flex-start;
        padding-top:20px;
    }

    .pkgs-body .pkg-details{
        width:90vw;
        margin-left:27px;
        height:320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* box-shadow: none; */
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    }

    .pkg-details .pkg-textes{
        margin-top:15px;
        margin-bottom:10px;
    }

    .pkg-details .pkg-image{
        height:170px;
        width: 90%;
    }

    .pkg-image img{
        height:100%;
        width:100%;
        margin-top:20px;
    }
    .pkg-textes p {
        font-size:small;
    }

    .pkgs-body .row{
        margin-right: 0 !important;
    }

    .pagination {
        width:100vw;
        margin-top: 0px !important;
        margin-bottom: 100px;
    }

}
