.ChatBox-container {
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 60vh 13vh;
    background: rgb(249, 249, 249);
    height:87%;
}


.chat-header {
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-1{
    display: flex;
    align-items: center;
    margin-top:40px;
    gap:10px;
    height:100%;
}

.chat-body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 10px 25px 5px 25px;
    gap: 20px;
}

.chat-body::-webkit-scrollbar {
    width:0px;
    
  }
  
  .chat-body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    margin-top:20px;
  }

.own-message-body p{
    align-self: flex-end;
    margin-right:10px;
}

.own-message-body .message{
    background-color: #80808038;
    color: rgb(0, 0, 0);
    padding: 0.7rem;
    border-radius: 1rem 1rem 0 1rem;
    max-width: 28rem;
    width: fit-content;
    margin-bottom:10px;
    align-self: flex-end;
    margin-right:10px;
    overflow-wrap: break-word; 
}

.message-body .message {
  background-color: #80808038;
  color: rgb(0, 0, 0);
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  margin-bottom:10px;
  overflow-wrap: break-word; 
}

.own-message-body{
    display: flex;
    flex-direction: column;
    width: fit-content;
  align-self: flex-end;
}

.message-body{
    width: fit-content;
    margin-left: 5px;
}

.chat-sender {
    background: rgb(249, 249, 249);
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom:20px;
    height:70px;
    align-self: end;
}
.chat-sender>input{
    height: 20%;
    background-color: rgb(249, 249, 249);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex  :1 ;
    font-size: 190px;
    padding: 0px 15px 0px 15px;
}
.chat-sender>div:nth-of-type(1)
{
    background: #F9F9F9;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer
}
.chat-sender>div{
    height: 70%;
    padding: 0px 15px 0px 15px;
}

.empty-div{
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-button{
    height:30px;
    width:30px;
    margin-right:20px;
}

.header-1 .back-button{
    margin-left:10px;
    padding-left:0;
    background-color: #F9F9F9;
    border: none;
    width:5px;
    color: black;
    display: none;
}

@media (max-width: 800px) {

    .header-1 .back-button{
        display: flex;
        flex-direction: column;
    }

    .message-body .message{
        max-width:250px;
        overflow-wrap: break-word; 
    }

    .own-message-body .message{
        max-width:250px;
        overflow-wrap: break-word; 
    }
    .chat-body{
        padding: 10px 1px 5px 1px;
        gap:0;
        height:110%;
        margin-top:-15px;
    }

    .ChatBox-container{
        border-radius: 0;
    }

    .chat-header{
        height: 40%;
        margin-top:5px;
    }

    .header-1{
        margin-top: 55px;
    }

    .header-1 img{
        width:40px !important;
        height:40px !important;
        margin-left:0 !important;
    }

    .header-1 hr{
        margin-top: 8px;
    }

    .chat-sender{
        margin-bottom: -20px;
    }
    
}