.ChatBox-container {
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 60vh 13vh;
    background: rgb(249, 249, 249);
    height:87%;
}


.chat-header {
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-1{
    display: flex;
    align-items: center;
    margin-top:40px;
    gap:10px;
    height:100%;

}

.chat-body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 25px;
    gap: 20px;
}

.chat-body::-webkit-scrollbar {
    width:0px;
    
  }
  
  .chat-body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    margin-top:20px;
  }

.message {

  background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  color: white;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message>span:nth-child(2){
    font-size: 0.7rem;
    color:white;
    align-self: end;
}

.own {
  align-self: flex-end;
  width:fit-content;
  border-radius: 1rem 1rem 0 1rem;
  background: linear-gradient(98.63deg, #14505C 0%, #11d5bb 100%);
}



.chat-sender {
    background: rgb(249, 249, 249);
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom:20px;
    height:70px;
    align-self: end;
}
.chat-sender>input{
    height: 20%;
    background-color: rgb(249, 249, 249);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex  :1 ;
    font-size: 190px;
    padding: 0px 15px 0px 15px;
}
.chat-sender>div:nth-of-type(1)
{
    background: #F9F9F9;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer
}
.chat-sender>div{
    height: 70%;
    padding: 0px 15px 0px 15px;
}

.empty-div{
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-button{
    height:30px;
    width:30px;
    margin-right:20px;
}