.user-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.user-navbar .logo{
  display:flex;
}
.user-navbar .logo img{
  padding-left:50px;
  padding-right:30px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap:30px;
  margin-top:20px;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #147E7D;
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  gap:8px;
  margin-right:50px;
  color: #147E7D;
}

.profile-logo .user-icon{
  margin-right:30px;
  height:20px;
  width:20px;
}

@media(max-width:800px) {

  .user-navbar .logo img{
    padding-left:0;
    padding-right:0;
  }

  .user-navbar {
    width:100vw;
  }
  

  .nav-links {
    display: none;
  }

  .profile {
    margin-right:10px;
  }

}

